# cargo config
os/Cargo.lock
user/Cargo.lock
os/src/linker.ld
os/new_cmd

# IDE config
.idea/
.vscode/

# kernel build
os/target/
kernel.bin

# user programs build
user/riscv64/
user/target/

# Gathering place of images
easy-fs-fuse/

# a copy of user programs debug build in "user/target/*"(for gdb)
os/user/

#gdb script
os/gdb_script

# developing, should be invisible in main branch
os/src/fs/fatfs/*

# unsorted
os/output.txt
os/logs/
os/src/link_app.S
os/last-*
tools/
user/.ccls-cache/

# Doc .org & .tex
Doc/**/*.org
Doc/**/*.tex
Doc/**/*.jpg
Doc/**/*.png

# gdb
gdb-12.1/
适配qemu-2k1000评测提示.md

# qemu
util/qemu/2k1000/mnt
util/qemu/2k1000/cpio.log
util/qemu/qemu.log
util/qemu/nand.dat
util/qemu/2k1000/2kfs.img
util/qemu/2k1000/cpio.log